/* Main Navigation */
.is-style-main-navigation {

	.wp-block-navigation__responsive-container:not(.is-menu-open) {
		ul.wp-block-navigation__container {
			gap: 0 0.5rem;

			> li.wp-block-navigation-item {
				> a.wp-block-navigation-item__content {
					padding: 0.25rem 0.5rem;

					&:hover,
					&:focus,
					&:active {
						text-decoration: none;
					}
				}

				&:hover > .wp-block-navigation__submenu-icon,
				&:hover > a.wp-block-navigation-item__content {
					color: var(--wp--preset--color--primary);
				}

				.wp-block-navigation__submenu-icon {
					margin-inline-start: -0.25rem;
					margin-block-start: -0.05rem;
					width: 13px;
					height: 13px;
				}

				> ul.wp-block-navigation__submenu-container {
					left: auto;
					right: 0;
				}

				ul.wp-block-navigation__submenu-container {
					padding: 0;
					border: none;
					font-size: var(--wp--preset--font-size--tiny);
					min-width: 200px !important;

					> li.wp-block-navigation-item:first-child {
						padding-block-start: 0.5rem;
					}

					> li.wp-block-navigation-item:last-child {
						padding-block-end: 0.5rem;
					}

					li.wp-block-navigation-item {
						color: #fff;
						background-color: #202020;

						a.wp-block-navigation-item__content {
							padding: 0.25rem 1rem;
							font-size: var(--wp--preset--font-size--tiny);
						}

						.wp-block-navigation__submenu-icon {
							margin-inline-end: 0.75rem;
						}

						ul.wp-block-navigation__submenu-container {
							top: 0;
						}
					}

					li.wp-block-navigation-item:not(:first-child) {
						ul.wp-block-navigation__submenu-container {
							top: -0.5rem;
						}
					}

					li.current-menu-item {
						text-decoration: underline;
					}
				}
			}

			li.current-menu-item {
				color: var(--wp--preset--color--primary);
			}
		}
	}

	.wp-block-navigation__responsive-container.is-menu-open {
		padding: var(--wp--preset--spacing--50);

		.wp-block-navigation__responsive-dialog {
			margin-top: 0;
		}

		.wp-block-navigation__responsive-container-content {
			.wp-block-navigation__container,
			.wp-block-navigation__submenu-container {
				gap: 1rem;
			}

			.wp-block-navigation__submenu-container {
				padding: 1rem 1rem 0 2rem;
			}

			a:hover {
				color: var(--wp--preset--color--primary);
				text-decoration: none;
			}

			li.current-menu-item > a {
				color: var(--wp--preset--color--primary);
			}
		}
	}

	.wp-block-navigation__responsive-container-close,
	.wp-block-navigation__responsive-container-open {
		font: inherit;

		&:hover {
			color: var(--wp--preset--color--primary);
		}

		svg {
			width: 24px;
			height: 24px;
			color: currentColor;
		}
	}
}
