/* Underlined Heading */
.is-style-underlined-heading {
	position: relative;
	margin-bottom: 0.5em !important;
	padding-bottom: 0.5em;

	&::before {
		display: inline-block;
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 1px;
		content: "";
		background-color: var(--wp--preset--color--medium-gray);
	}
}
