input[type="button"]:not(.wp-element-button),
input[type="reset"]:not(.wp-element-button),
input[type="submit"]:not(.wp-element-button) {
	margin: 0;
	padding: 0.4rem 0.8rem;
	border: none;
	color: var(--wp--preset--color--white);
	background-color: var(--wp--preset--color--primary);
	text-decoration: none;
	font: inherit;
	font-weight: 400;
	font-size: var(--wp--preset--font-size--small);
	line-height: inherit;
}

input[type="button"]:not(.wp-element-button):hover,
input[type="reset"]:not(.wp-element-button):hover,
input[type="submit"]:not(.wp-element-button):hover,
input[type="button"]:not(.wp-element-button):focus,
input[type="reset"]:not(.wp-element-button):focus,
input[type="submit"]:not(.wp-element-button):focus,
input[type="button"]:not(.wp-element-button):active,
input[type="reset"]:not(.wp-element-button):active,
input[type="submit"]:not(.wp-element-button):active {
	color: var(--wp--preset--color--white);
	background-color: var(--wp--preset--color--secondary);
	cursor: pointer;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	padding: 0.25em 0.5em;
	max-width: 100%;
	border: 1px solid currentColor;
	background: none;
	opacity: 0.65;
	font: inherit;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	opacity: 1;
	outline: none;
}

textarea {
	overflow: auto;
	width: 100%;
}
