<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|70"},"blockGap":"var:preset|spacing|70"}},"className":"site-content","layout":{"type":"constrained","contentSize":"1360px"}} -->
<main class="wp-block-group site-content" style="margin-top:var(--wp--preset--spacing--70);margin-bottom:var(--wp--preset--spacing--70)">

	<!-- wp:pattern {"slug":"graham/magazine-hero"} /-->

	<!-- wp:columns {"style":{"spacing":{"margin":{"bottom":"0"},"blockGap":{"top":"var:preset|spacing|70","left":"var:preset|spacing|70"}}}} -->
	<div class="wp-block-columns" style="margin-bottom:0">

		<!-- wp:column {"width":"75%","style":{"spacing":{"blockGap":"var:preset|spacing|70"}},"className":"post-wrapper"} -->
		<div class="wp-block-column post-wrapper" style="flex-basis:75%">

			<!-- wp:pattern {"slug":"graham/magazine-vertical"} /-->
			<!-- wp:pattern {"slug":"graham/magazine-three-columns"} /-->
			<!-- wp:pattern {"slug":"graham/magazine-double"} /-->

		</div>
		<!-- /wp:column -->

		<!-- wp:column {"width":"25%","className":"sidebar-wrapper"} -->
		<div class="wp-block-column sidebar-wrapper" style="flex-basis: 25%;">
			
			<!-- wp:template-part {"slug":"sidebar","tagName":"section"} /-->

		</div>
		<!-- /wp:column -->

	</div>
	<!-- /wp:columns -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
